/** Overall page setup **/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;

    font-family: sans-serif;
    font-size: 18pt;
}

header {
    display: flex;
    align-items: baseline;
    border-bottom: 5px solid darkgoldenrod;
    margin-bottom: 20px;
    gap: 5px;
}

h1 {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

#locationId {
    font-size: small;
    color: gray;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
    font-size: 0.6em;
    color: #666666;
}

/** Guide specific helpers **/

h3 {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 20px 0;
    color: darkgoldenrod;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

ul ul {
    margin-left: 20px;
    margin-top: 20px;
}

ul li + li {
    margin-top: 20px;
}

.spell {
    font-weight: bolder;
    font-size: 1.2em;
    padding: 5px;
    background-color: gray;
    color: white;
}

.healer-note {
    background-image: url('resources/icons/healer.webp');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 8px 4px 44px;
    border: 4px solid green;
    color: darkgreen;
    border-radius: 10px;
    font-size: 1.2em;
}

.tank-note {
    background-image: url('resources/icons/tank.webp');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 8px 4px 44px;
    border: 4px solid blue;
    color: darkblue;
    border-radius: 10px;
    font-size: 1.2em;
}

.dps-note {
    background-image: url('resources/icons/dps.webp');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 8px 4px 44px;
    border: 4px solid red;
    color: darkred;
    border-radius: 10px;
    font-size: 1.2em;
}

.important-note {
    background-image: url('resources/icons/exclaim.webp');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 8px 4px 44px;
    border: 4px solid orange;
    color: orange;
    border-radius: 10px;
    font-size: 1.2em;
}

aside.links {
    margin-top: 20px;
    float: right;
    background-color: white;
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
}

aside.links h3 {
    background-color: darkgoldenrod;
    color: white;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

aside.links ul {
    padding: 10px 20px;
}